<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Quiénes somos?</h2>
                <hr class="light">
                <p class="text-faded">El ministerio ARCA DEL PACTO es una conofraternidad dispuesta, capacitada y usada por Dios para cumplir lo establecido en Mateo 28,19-20.</p>
                <p class="text-faded">V-19 Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del hijo, y del Espíritu Santo;</p> <br>
                <p class="text-faded">V-20 Enseñandoles que guarden todas las cosas que os he mandado; y he aquí <b> YO estoy con vosotros todos los días, hasta el fin del mundo.</b> Amén</p>
            </div>
        </div>
    </div>
</section>

