<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <!--<h2>Free Download at Start Bootstrap!</h2>-->
		    <div class="container">
		        <div class="row">
		           <p>No es con ejercitos, ni con espadas, sino con su Santo Espíritu</p>
                   <p align="text-center">Zacarias 4:6</p>
		        </div>
		    </div>
        </div>
    </div>
</aside>

