<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reuniones</h2>
                <hr class="primary">
                <p>Sábados <br> 19:30 hs.</p>
                <p>Domingos <br> 16:00 hs.</p>
                <p><br>Para más información puedes encontrarnos en:</p>
            </div>
            <div class="col-lg-4 text-center" data-wow-delay=".1s">
                <i class="fa fa-whatsapp fa-3x wow bounceIn"></i>
                <p>+595972 106193</p>
            </div>
            <div class="col-lg-4 text-center" data-wow-delay=".1s">
                <i class="fa fa-facebook fa-3x wow bounceIn"></i>
                <p><a href="https://www.facebook.com/ElArcaDelPacto/?fref=ts">Facebook</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:infor@arcadelpacto.com">info@arcadelpacto.com</a></p>
            </div>        
        </div>
    </div>
</section>

