
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Iglesia Arca del Pacto</h1>
            <hr>
            <p>El ministerio ARCA DEL PACTO es una conofraternidad dispuesta, capacitada y usada por Dios para cumplir lo establecido en Mateo 28,19-20.</p>
				<br>
                <p class="text-center">Encarnación - Paraguay</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Ir a versículo</a>
        </div>
    </div>
</header>
