<section id="vision_mision_valores">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Misión</h2>
                <hr class="primary">
                <div align="justify">
                <p>1- Insertarnos a la Doctrina de Cristo, a través de la predicación de la palabra de Dios.</p>
                <p>2- Extender el Reino de Cristo en:<br>
                <ul>
                    <li>Los hogares: a través de la transformaciones de nuestra alma por el poder del Espiritu Santo.</li>
                    <li>En las escuelas: (Siendo agentes de cambio y multiplicación) incentivando a los demás jóvenes al encuento con Jesucristo, haciendoles su Señor y Salvador.
                    <br>Manteniendo una Comunicación Fluida con el Creador a través de Oraciones y alabanzas.<br>
                    Haciendonos participes con ayuda a los colegios a traves de proyectos y temas que llevan a los educados a contactar con su creador e interactuando con los docentes conforme a la educación en varios valores, en todos los ciclos desde los niños (1º y 2º Ciclo) y jóvenes (3º Ciclo en la Universidades).</li>
                    <li>En la sociedad: a través de programas televisivos y radiales con tema de interes familiar ministerial y comunal e intercediendo por la necesidades de las personas.</li>
                </ul>
                </p>
                <p>3- La iglesia esta adiestrada para ejercer "Gran Comisión y hacer discípulos y ser discipulados".</p>
                <p>A través de:
                <ul>
                    <li>Capacitaciones ministerial y desarrollo de aptitues y actitudes: Con la Ayuda del Espiritu Santo</li>
                    <li>Apoyar a los Jóvenes con características de liderazgo: Permitiendo que fluyan los talentos, otorgandoles la posibilidad que desarrollen a través de oportunidades delegados a los mismos.</li>
                </ul>
                </p>
                <p>4- Interactuar con otras congregaciones. Entendiendo que somos un solo cuerpo en Cristo Jesús con la finalidad que la obra regeneradora del Espiritu Santo sea individual, familiar, en la comunidad y el país</p>
                </div>
            </div>
            <br><br>
            <div class="text-center">
                <h2 class="section-heading">Valores</h2>
                <hr class="primary">
                <div align="justify">
                <p>Visualizar en nuestras vidas el fruto del Espiritu Santo.</p>
                <p>Con predominio del Amor que es la mayor expresión del Evangelio de Cristo y del Poder del Espíritu Santo.</p>
                </div>
            </div>
        </div>
    </div>
</section>

